@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  width: 30%;
  height: 50%;
  border-radius: 30%;
  padding: 5%;
}
h1{
  color: #fff;
  font-weight: bold;
}
h3{
  color: #fff;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  width: 300px;
  margin: 0;
  padding: 0;
  background: #1c1c1f;
}
.drag-area{
  border: 2px dashed #fff;
  border-radius: 5px;
  display: flex;
  padding: 5%;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 120%;
  color: #fff;
}
.drag-area header{
  font-size: 100%;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 100%;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 4%;
  font-size: 100%;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #2a2a2c;
  border-radius: 5px;
  cursor: pointer;
}
.submit{
  padding: 4%;
  font-size: 100%;
  font-weight: 500;
  border: none;
  width: 400px;
  outline: none;
  background: #fff;
  color: #2a2a2c;
  border-radius: 5px;
  cursor: pointer;
}
.uploaded_image{
  height: 400px;
  width: 400px;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}